<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560323927309-i1o31udn7pakonjiv3uu4kj9nb4nbu23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560323927309-i1o31udn7pakonjiv3uu4kj9nb4nbu23</string>
	<key>API_KEY</key>
	<string>AIzaSyD2y5XKte8gZtbJ2g_R1SYsJtZYJnjWWEI</string>
	<key>GCM_SENDER_ID</key>
	<string>560323927309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viafoura.sampleapp</string>
	<key>PROJECT_ID</key>
	<string>mobile-sdk-demo-f79f5</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-sdk-demo-f79f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560323927309:ios:546e5c049f98e55dcb6444</string>
</dict>
</plist>